<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name="com.warden.controlledsandbox.fixture.lifecycle.FailingLifecycleApplication"
        tools:replace="android:name">
        <activity android:name="com.warden.controlledsandbox.fixture.lifecycle.LifecycleV2Activity"
            android:exported="false" />
    </application>
</manifest>
