<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="com.warden.controlledsandbox.fixture.lifecycle.LifecycleApplication"
        android:allowBackup="false"
        android:label="CAS Lifecycle Fixture"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name="com.warden.controlledsandbox.fixture.lifecycle.LifecycleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
