<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.warden.controlledsandbox.permission.BIND_NATIVE_COMPANION"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.warden.controlledsandbox.permission.BIND_NATIVE_COMPANION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:name=".SandboxApplication"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:label="Controlled Sandbox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <service
            android:name=".PackageManagementService"
            android:exported="true"
            android:permission="com.warden.controlledsandbox.permission.BIND_NATIVE_COMPANION"
            android:process=":sandbox_package"
            android:stopWithTask="false" />
        <service
            android:name=".VirtualJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":sandbox_server"
            android:stopWithTask="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
