<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.warden.controlledsandbox.fixture" />
    </queries>
    <application>
        <activity
            android:name=".DebugCommandActivity"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <service
            android:name=".NativeEnforcementIsolatedService"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":native_enf_iso" />
    </application>
</manifest>
